/* TEMAS DO NAVBAR */

.skin{
background:#000000; 
/*AZUL #000000; */	
/*VERMELHO #000000; */	
}

.text-white{
color:white;
font-size:14px;	
}

.text-title{
color:black;
font-size:14px;	
}

.navbar.tema{
background:#000000; 
margin-bottom:0px;
color:white;	
}

.navbar.tema-secundario{
background:#cc530c; 
margin-bottom:0px;	
}

.block.topo-painel{
margin:0px; 
padding-top:40px;
padding-bottom:40px;
background-image:  url(../img/menu/back-menu-black.png);
}

.menu-icon{
font-size:28px; color:black;
}

/* FONTE DO TITULO */
.title{
font-family:'Arial Black', Gadget, sans-serif;	
}

/* ALINHAR IMAGEM DA ENTRADA */
.Aligner {
            display: flex;
            align-items: center;
            justify-content: center;
            height:90%;
        }

        .Aligner-item {
            max-width: 50%;
        }

        .Aligner-item--top {
            align-self: flex-start;
        }

        .Aligner-item--bottom {
            align-self: flex-end;
        }
		
 /* Importando Fonte */
        @font-face {
            font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
            font-style: normal;
            font-weight: 400;
            src: url('fonts/arial-black-bold.ttf') format('truetype');
        }
		
/*SWIPER DOS ÍCONES*/
/* A bit of demo styles */;
.icon-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.icon-swiper .swiper-slide .tema-vermelho{
  box-sizing: border-box;
  /*border: 1px solid #ddd;*/
  background: #000000;
  color: white;
  /*border-bottom:5px solid gold;*/
}
.icon-swiper {
 /* margin: 0px 0 35px; */*
  font-size: 18px;
  height: 110px;
}

.icon-swiper .swiper-wrapper .tema-vermelho{
 background:#000000;
}


.icon-swiper.icon-swiper-auto .swiper-slide {
  width: 85%;
}
.icon-swiper.icon-swiper-auto .tema-vermelho .swiper-slide:nth-child(2n) {
  width: 70%;
  background:#000000;
}
.icon-swiper.icon-swiper-auto .tema-vermelho .swiper-slide:nth-child(3n) {
  width: 30%;
  background:#000000;
}		

/*SWIPER DO BANNER*/
.banner-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  width:100%;
}
.banner-swiper .swiper-slide {
  box-sizing: border-box;
  background: #000000;
  /*AZUL #000000; */	
  /*VERMELHO #000000; */	
  color: black;
 
}
.banner-swiper {
 /* margin: 0px 0 35px; */
  font-size: 18px;
  height: auto;
}

.banner-swiper .swiper-wrapper {
/*background:white;*/
}


.banner-swiper.banner-swiper-auto .swiper-slide {
  width: 85%;
}
.banner-swiper.banner-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
  /*background:white;*/
}
.banner-swiper.banner-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
  /*background:white;*/
}	

/*BOLINHAS DO SWIPER */
.md .swiper-pagination-bullet-active {
    background: black;
}


.responsive {
  max-width: 80px;
  max-height: 80px;
}

.circle {
  position: relative;
  display: block;
  /*margin: 2em 0;*/
  background-color: transparent;
  color: black;
  text-align: center;
  max-width: 80px;
  max-height: 80px;
  font-size:20px;
  
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: white;
  /*AZUL #01256f; */	
  /*VERMELHO #7e000a; */
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 280px) {
  .circle__content {
    font-size: 2em;
  }
}






		
		
		
